<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>PostgreSQL</title>
</head>

<body>
	<ul>
		<% for(let i = 0; i < posts.length; i++){ %>
		<li><%= posts[i].name %></li>
		<% } %>
	</ul>
</body>

</html>